<footer class="flex flex-col footer overflow-hidden rounded-2xl py-8 bg-gray-100">

  <div class="bg-white w-20 m-6 flex items-center justify-center rounded-lg pl-2 shadow">
    <button class="flex items-center space-x-1" (click)="scrollTop()">
      <span>UP</span>
      <mat-icon class="relative text-black">
        <span class="material-symbols-outlined">keyboard_double_arrow_up</span>
      </mat-icon>
    </button>
  </div>

  <div class="flex flex-row justify-around m-4 p-4 space-x-8">
    <div class="flex flex-col" *ngFor="let category of categories">
      <p class="font-bold mb-2">{{ category.title }}</p>
      <ul>
        <li *ngFor="let item of category.items" class="mb-1">{{ item }}</li>
      </ul>
    </div>
  </div>

  <div class="flex justify-center mt-12">
    <div class="bg-white shadow-lg rounded-lg px-8 py-2 flex gap-8 items-center">
      <a
        *ngFor="let social of socialMedias"
        [href]="social.url"
        target="_blank"
        class="flex flex-col items-center hover:scale-110 transition-transform"
      >
        <img [src]="social.icon" alt="{{ social.name }}" class="w-5 h-5 mb-1" />
        <span class="text-sm text-gray-700">{{ social.name }}</span>
      </a>
    </div>
  </div>
</footer>