<div class="flex items-center justify-between">
  <div class="relative left-3 p-2">
    <img
      src="ecrud.png"
      alt=""
      width="40px"
      height="40px"
      class="rounded-2xl"
    />
  </div>
  <nav>
    <ul class="flex gap-4 p-5">
      <li *ngFor="let label of labels">
        <div class="flex items-start">
          <button class="relative flex items-center">
            <mat-icon class="relative pt-1"> {{ label.icon }} </mat-icon>
            <span>{{ label.name }}</span>
          </button>
        </div>
      </li>
    </ul>
  </nav>
  <div
    class="flex gap-5 justify-between min-w-1/4 bg-gray-100 rounded-xl relative"
  >
    <input
      type="text"
      placeholder="search"
      class="outline-none p-2 w-full rounded-xl focus:border"
    />
    <mat-icon class="top-3 right-0 absolute"> search </mat-icon>
  </div>
  <div>
    <div class="flex gap-1 login rounded-2xl relative mr-4">
      <button *ngIf="!userName" class="rounded-lg p-2" [routerLink]="['/auth']">
        Sign in/up
      </button>

      <div *ngIf="userName" class="relative group">
        <div class="flex items-center gap-2 p-2 cursor-pointer">
          <mat-icon class="relative left-0.5 top-0.5">person</mat-icon>
        </div>

        <div
          class="absolute right-0 mt-2 w-40 bg-white rounded-xl shadow-lg p-3 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 ease-in-out z-50"
        >
          <div class="flex flex-col items-start text-gray-700">
            <div
              class="w-full px-2 py-1 rounded-lg hover:bg-gray-200 cursor-default"
            >
              <span class="font-medium">{{ userName }}</span>
            </div>
            <hr class="w-full border-t border-gray-300 my-2" />
            <button
              (click)="logout()"
              class="w-full px-2 py-1 rounded-lg text-red-500 hover:bg-gray-200 hover:text-red-700 text-sm text-left cursor-pointer"
            >
              Logout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
