<label for="password" class="flex flex-col gap-1">
  <span class="relative left-2">Password</span>
  <div class="w-full flex">
    <input [type]="showPassword ? 'text' : 'password'" id="password" [formControl]="control"
      class="w-11/12 bg-gray-200 rounded-l-lg p-3 focus:shadow-[0_0_8px_2px_rgba(0,0,0,0.15)] focus:bg-white focus:outline-none placeholder:text-gray-500"
      (input)="onInput($event)" />
    <button type="button" (click)="togglepass()"
      class="bg-gray-200 p-1 h-[48px] w-1/12 relative right-0 rounded-r-lg text-sm flex text-center justify-center items-center">
      <mat-icon>
          {{ showPassword ? "visibility_off" : "visibility" }}
</mat-icon>
    </button>
  </div>
  <div *ngIf="control.invalid && (control.touched || control.dirty)">
    <div *ngIf="control.errors?.['required']" class="text-xs text-danger relative left-2">
      Password is required
    </div>
    <div *ngIf="control.errors?.['pattern'] || control.errors?.['minlength']"
      class="text-xs text-danger relative left-2">
      Your password must be at least 8 characters long and include at least one
      uppercase letter, one lowercase letter, one number, and one special
      character (e.g., !, #).
    </div>
  </div>
</label>