/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-primary: #0d00ff;
  --color-primary-dark: #0600b3;
  --color-text-primary: #ffffff;
  --color-danger: oklch(57.7% 0.245 27.325);
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0px;
  padding: 0px;
}
