<form
  action=""
  [formGroup]="form"
  class="relative p-5 flex items-center justify-center h-full flex-col"
>
  <button
    class="absolute top-5 left-5 border border-solid border-gray-300 rounded-full aspect-square p-1 px-2 flex items-center justify-center cursor-pointer"
    (click)="backward()"
  >
    <mat-icon>chevron_left </mat-icon>
  </button>
  <div
    class="border-2 w-1/2 border-solid border-blue-600 p-5 rounded-lg m-auto"
    [ngClass]="{
      'max-h-1/2': step === 2,
      'overflow-y-scroll': step === 2,
      'min-w-fit': step === 2
    }"
  >
    @if(step === 0){
    <app-basic-info
      (disable)="onFromComplete($event)"
      (formComplete)="receivePartA($event)"
    ></app-basic-info>
    }@if (step === 1) {<app-advance-info
      (formComplete)="receivePartA($event)"
      (disable)="onFromComplete($event)"
    ></app-advance-info
    >} @if (step === 2) {<app-specifications
      (disable)="onFromComplete($event)"
      (specsChanged)="receiveSpecs($event)"
    ></app-specifications
    >} @if (step === 3) {<app-images
      (fileChosen)="reciveMainImage($event)"
      (disable)="onFromComplete($event)"
    ></app-images
    >}
  </div>
  <button
    class="bg-black text-text-primary w-1/6 rounded-lg p-1 px-2 disabled:cursor-not-allowed flex items-center justify-center relative mb-5 cursor-pointer"
    [disabled]="isDisable"
    (click)="onclick()"
  >
    <span> Next </span>
    <mat-icon class="absolute right-5"> arrow_right_alt </mat-icon>
  </button>
</form>
